

<header class="text-center my-4">
    <br> 
     <h1 class="mt-3">Bienvenido a mi prueba de registro</h1>
     <br> 
     <h5 class="mt-3">Elaborado por Jose Manuel Vergara, presentado a:</h5>
  
  
 
</header>
<br>

<!-- 
<body class="d-flex justify-content-center align-items-center vh-20 bg-light">
  <div class="row text-center w-50">
    <div class="col-12 col-md-8 offset-md-2">
      <h4>Continuar a registro de fondos</h4>
      
        <input
        type="text"
        class="form-control mb-3"
        placeholder="Nombre del usuario"
        [(ngModel)]="nameTexto"
      />
      
      <input
        type="text"
        class="form-control mb-3"
        placeholder="Celular del usuario"
        [(ngModel)]="phoneNumber"
      />
      <input
        type="text"
        class="form-control mb-3"
        placeholder="Correo electronico"
        [(ngModel)]="emailUser"
      />
      <button
        type="button"
        id="registerCountry"
        class="btn btn-primary waves-effect"
        (click)="goToRegister()"
        [disabled]="!nameTexto || !phoneNumber || !emailUser"
      >
        Ir a registro
      </button>
    </div>
  </div>
</body> -->

<br> 


<body class="d-flex justify-content-center align-items-center vh-20 bg-light">
  <div class="row text-center w-50">
    <div class="col-12 col-md-8 offset-md-2">
      <h4>Appp Conectada sin registro</h4>
      
        
      <button
        type="button"
        id="registerCountry"
        class="btn btn-primary waves-effect"
        (click)="goToBackend()"
        
      >
        Hacer Consulta
      </button>

      <br> 
      <button
        type="button"
        id="registerCountry"
        class="btn btn-primary waves-effect"
        (click)="goToBackendPost()"
        
      >
        Hacer Consulta Con post
      </button>

      <button
        type="button"
        id="registerCountry"
        class="btn btn-primary waves-effect"
        (click)="goGetBackend()"
        
      >
        Hacer get personajes
      </button>

      <button
        type="button"
        id="registerCountry"
        class="btn btn-primary waves-effect"
        (click)="postPersonaje()"
        
      >
        Post personaje
      </button>
    </div>
  </div>
</body>


<br> 


<div class="container mt-5" *ngIf="personajes">
  <h5 class="text-primary">Fondos Registrados</h5>
  <table class="table table-bordered table-striped table-hover">
    <thead class="table-light">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Monto mínimo</th>
        <th>Categoría</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let personaje of personajes">
        <td>{{ personaje.id }}</td>
        <td>{{ personaje.nombre }}</td>
        
        <td>{{ personaje.categoria }}</td>
        <td><button  type="button" class="btn btn-danger"
            style="margin-left: 10px" (click)="removepersonaje(personaje)">
            Eliminar personaje
          </button></td>

      </tr>
    </tbody>
  </table>
</div>